<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form Validation</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div id="app">
    <h1>Form Validation</h1>

    <form @submit.prevent="submitForm($v)">
      <div class="form-group"
        :class="{ 'form-group--error': shouldAppendErrorClass($v.form.name), 'form-group--valid': shouldAppendValidClass($v.form.name) }">
        <label class="form__label" for="name">Name:</label>
        <input class="form__input" type="text" id="name" v-model.tirm="form.name" placeholder="Please enter your name"
          @blur="nameIsValid($v.form)">
        <div v-if="$v.form.name.$error">
          <p v-if="!$v.form.name.required" class="error-message">The name field is required</p>
          <p v-else-if="!$v.form.name.minLength" class="error-message">The name field must between at least 3 letters
          </p>
        </div>
      </div>

      <div class="form-group"
        :class="{ 'form-group--error': shouldAppendErrorClass($v.form.age), 'form-group--valid': shouldAppendValidClass($v.form.age) }">
        <label class="form__label" for="age">Age:</label>
        <input class="form__input" type="number" id="age" v-model.number="form.age" placeholder="Please enter your age"
          @blur="ageIsValid($v.form)">
        <div v-if="$v.form.age.$error">
          <p v-if="!$v.form.age.required" class="error-message">The age field is required</p>
          <p v-else-if="!$v.form.age.integer" class="error-message">The age field should be an
            integer</p>
          <p v-else-if="!$v.form.age.between" class="error-message">You should be at least 12 and
            younger than 120 to continue</p>
        </div>
      </div>

      <div class="form-group"
        :class="{ 'form-group--error': shouldAppendErrorClass($v.form.email), 'form-group--valid': shouldAppendValidClass($v.form.email) }">
        <label class="form__label" for="email">Email:</label>
        <input class="form__input" type="email" id="email" v-model="form.email"
          placeholder="Please enter your email address">
        <!-- <div v-if="$v.form.email.$error">
            <p v-if="!$v.form.age.required" class="error-message">The age field is required</p>
          </div> -->
      </div>

      <div class="form-group"
        :class="{ 'form-group--error': shouldAppendErrorClass($v.form.food), 'form-group--valid': shouldAppendValidClass($v.form.food) }">
        <label class="form__label" for="food">Pizza Or Burger:</label>
        <input class="form__input" type="text" id="food" v-model="form.food" placeholder="Please enter your choice"
          @blur="$v.form.food.$touch()">
        <div v-if="$v.form.food.$error">
          <p v-if="!$v.form.food.pizzaOrBurger" class="error-message">Sorry! We only serve pizza
            and burgers</p>
        </div>
      </div>

      <div>
        <button class="btn-submit">Submit</button>
      </div>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/vuelidate@0.7.4/dist/vuelidate.min.js"></script>
  <script src="https://unpkg.com/vuelidate@0.7.4/dist/validators.min.js"></script>
  <script type="module" src="./app.js"></script>
</body>

</html>